<%inherit file="_base.html" />
<script src="http://d3js.org/d3.v2.js"></script>
<script src="http://home.ie.cuhk.edu.hk/~gh012/iems5720/jquery-1.8.2.min.js"></script>
<script src="http://home.ie.cuhk.edu.hk/~gh012/iems5720/underscore-min.js"></script>
<script src="http://home.ie.cuhk.edu.hk/~gh012/iems5720/colorbrewer.js"></script>
<style>

            h1, h2, h3, h4 {
                font-weight: 300;
            }

            .footer {
                text-align: center;
            }

            circle.node {
                stroke: #fff;
                stroke-width: 1.5px;
            }

            path.link {
                stroke: #999;
                stroke-opacity: .6;
                fill: none;
            }

            marker {
                stroke-width: 0;
                fill: #999;
            }
            
            text {
                font-size: 13px;
                font-weight: 400;
                pointer-events: none;
            }

            text.shadow {
                stroke: #fff;
                stroke-width: 3px;
                stroke-opacity: .8;
            }
            #chart {
                margin: auto;
                text-align: left;
                width: 800px;
            }
</style>

<div class="row">
    <div class="span4">
        <h1>${gi.name.encode('U8')}</h1>
        <br/>
##<img src="${creater.picture}"/>
        <p><h2>${gi.description.encode('U8')}</h2>

        ##${len(users)} user add this.
        </p>
        <small>creator:<a href="/user/${creater.id}">${creater.name.encode('U8')}</a></small>
        %if current_user and not groups.where(user_id=current_user.id):
        <a href="/group/${gi.id}/add">add this</a>
        %endif
    </div>
    <div class="span2">
        <h2>blogs involved </h2>
    %for blog in blogs:
    <a href="${blog.link}" target="_blank">${blog.name.encode('U8')} </a>
    <br />
    %endfor
    </div>
    <div class="span4 offset1">
        <h1> reports:</h1>
        
    </div>
    <script>
        var data = ${data|n};
 $(document).ready(function() {
                    var width = 800, height = 700;

                    var force = d3.layout.force()
                    .charge(-200)
                    .linkDistance(200)
                    .size([width, height]);

                    var svg = d3.select("#chart").append("svg")
                    .attr("width", width)
                    .attr("height", height);

                        
                        var max_w = _.max(_.map(data.nodes, function(d) { return d.weight; }));
                        var quantize =  d3.scale.quantile().domain([0, max_w]).range(d3.range(7));
                        var color =  d3.scale.ordinal().domain(d3.range(9)).range(colorbrewer.Blues[9]);

                        force.nodes(data.nodes)
                        .links(data.edges)
                        .on("tick", tick)
                        .start();

                        var marker = svg.append("svg:defs").selectAll("marker")
                        .data(["comment"])
                        .enter().append("svg:marker")
                        .attr("id", "comment")
                        .attr("viewBox", "0 -5 10 10")
                        .attr("refX", 18)
                        .attr("refY", 0)
                        .attr("markerWidth", 12)
                        .attr("markerHeight", 8)
                        .attr("orient", "auto")
                        .append("svg:path")
                        .attr("d", "M0,-5L10,0L0,5");

                        var path = svg.append("svg:g").selectAll("path.link")
                        .data(force.links())
                        .enter().append("svg:path")
                        .attr("class", "link")
                        .attr("marker-start", "none")
                        .attr("marker-end", "url(#comment)");


                        var marker = svg.selectAll("line.link")
                        .data(data.edges)
                        .enter().append("svg:marker")
                        .attr("orient", "auto");

                        var node = svg.append("svg:g").selectAll("circle.node")
                        .data(data.nodes)
                        .enter().append("svg:circle")
                        .attr("r", function(d) { return quantize(d.weight) + 4; })
                        .attr("class", "node")
                        .style("fill", function(d) { return color(quantize(d.weight)+3); })
                        .call(force.drag);

                        var text = svg.append("svg:g").selectAll("g")
                            .data(force.nodes())
                            .enter().append("svg:g");

                        text.append("svg:text")
                            .attr("x", 8)
                            .attr("y", ".3em")
                            .attr("class", "shadow")
                            .text(function(d) { return d.name; });

                        text.append("svg:text")
                            .attr("x", 8)
                            .attr("y", ".3em")
                            .text(function(d) { return d.name; });

                        node.append("title")
                            .text(function(d) { return d.name + " in: " + d.in + " out: " + d.out; });

                        var legend = svg.append("svg:g").selectAll("rect")
                            .data(d3.range(7))
                            .enter()
                            .append("rect")
                            .attr("x", 30)
                            .attr("y", function(d) { return (d + 1)*14; })
                            .attr("width", 60)
                            .attr("height", 13)
                            .attr("fill", function(d) { return color(8-d); });

                        svg.append("text")
                            .attr("x", 30)
                            .attr("y", 12)
                            .text("Most Active");
                        svg.append("text")
                            .attr("x", 30)
                            .attr("y", 14 * 9 - 2)
                            .text("Least Active");

                        function tick() {
                            path.attr("d", function(d) {
                                var dx = d.target.x - d.source.x,
                                dy = d.target.y - d.source.y,
                                dr = Math.sqrt(dx * dx + dy * dy);
                                return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
                                });

                            node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")";});
                            text.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")";});

                        }
                });
</script>
</div>
