<%inherit file="_base.html" />
<%def name="container(next)">
<div class="container-fluid">
  <div class="row">
    <div class="span2 ">
         <big><a href="/group/new/">create</a> your own group</big>
      <!--Body sidebar-->
    </div>
    <div class="span10">
        %for group in groups:
        <div class="span4" style="background-color:#EEE;margin-bottom:5px;">
        <h2> <a href="/group/${group.id}">${group.name.encode('U8')}</a><h2>
        <small>${group.description.encode('U8')}
        <a href="/group/${group.id}/add">add this</a>
        </small>
        </div>
        %endfor
      <!--Sidebar content-->
    </div>
  </div>
</div>
</%def>
${self.container}
