<%inherit file="_base.html" />
<script src="http://d3js.org/d3.v2.js"></script>
<div class="row">
    <div class="span4">
<h1>
    here i am :)</h1>
<p>
<img src="${user.picture}"/>
</p>
</div>
<div class="span8">
<h2> groups i am in </h2>

%for group in my_groups:

<span ><a href="/group/${group.group_id}">${group.group_info.name.encode('U8')}</a></span>
<br />
%endfor

<br/>
<h2> blogs i have </h2>
%for blog in my_blogs:

<span ><a target="_blank" href="${blog.link}">${blog.name.encode('U8')}</a></span>
<br />
%endfor
<br />
<h2> blogs we recommend </h2>
%for r in recommend:
<a href="/post/${r.id}">${r.title.encode('U8')}</a>
<br />
%endfor

</div>
<script>
    var data=${data|n};
    var d = {"x": 100.0,
            "y":200.0};
    var svg = d3.select("body").append("svg")
    svg.append("circle")
        .attr("cx", d.x)
        .attr("cy", d.y)
        .attr("r", 2.5);
    svg.selectAll("circle")
        .data(data)
        .enter().append("circle")
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; })
        .attr("r", 2.5);

</script>
